<h1 class="md-col-12 text-center"><%= @title %></h1>

<%= image_tag "Banner" %>

<h5 class="md-col-12 text-center">Please Choose a Login Option Below</h5>

<ul class="md-col-12 text-center list-unstyled">
  <li><%= link_to "Member Login", member_path %></li>
  <li><%= link_to "Admin Login", admin_path %></li>
</ul>
